@use '../../../assets/colors.scss';

.footer-links {
	padding: 2.5em 0 1em;
	background: colors.$very-dark-violet;
	text-align: center;

	&__logo {
		margin-bottom: 2em;
	}

	&__column {
		display: flex;
		flex-direction: column;
		margin-bottom: 1.5em;

		&--socials {
			flex-direction: row;
			justify-content: space-evenly;
			align-items: center;
			margin-top: 2em;
		}

		&-title {
			margin-bottom: 0.8em;
			color: colors.$white;
		}

		&-link {
			margin-bottom: 0.5em;
			text-decoration: none;
			color: colors.$grayish-violet;
			cursor: pointer;
			transition: color 0.3s;

			svg {
				path {
					transition: fill 0.3s;
				}
			}

			&:hover {
				color: colors.$cyan;

				svg {
					path {
						fill: colors.$cyan;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.footer-links {
		padding: 4em 0 2em;

		.wrapper {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}

		&__logo {
			flex-basis: 35%;
		}

		&__logo,
		&__column {
			text-align: left;
			margin: 0;
		}

		&__column {
			&--socials {
				flex-basis: 13%;
				justify-content: space-between;
				align-items: flex-start;
				margin: 0;
			}
		}
	}
}
