@use '../../assets/colors.scss';
@use '../../assets/animations.scss';

.header {
	margin: 2em 0 8em;

	&__wrapper {
		text-align: center;
	}

	&__img {
		width: 150%;
		opacity: 0;
		animation: slide-in 1s cubic-bezier(0.09, 0.91, 0.68, 0.9) forwards;
		animation-delay: 0.8s;
	}

	&__text {
		margin-bottom: 1em;
		opacity: 0;
		animation: fade-in 1s ease-in forwards;
	}

	&__title {
		margin: 0.5em 0 0.2em;
		color: colors.$dark-gray;
	}

	&__info {
		margin-bottom: 1.8em;
	}

	&__btn {
		animation: pulse 2s infinite cubic-bezier(0.4, 0, 0.2, 1);
		animation-delay: 2s;
	}
}

@media (min-width: 992px) {
	.header {
		&__wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin: 4em 0;
			text-align: left;
		}

		&__img {
			width: 55%;
			margin-left: 5em;
			order: 1;
		}

		&__title {
			margin: 0;
			font-size: 60px;
			line-height: 1.2;
		}

		&__text {
			min-width: 45%;
		}
	}
}

@media (min-width: 1440px) {
	.header {
		&__img {
			min-width: 65%;
			margin-left: 8em;
		}

		&__title {
			font-size: 70px;
		}

		&__info {
			font-size: 20px;
			padding-right: 4em;
		}
	}
}
