@use '../../assets/colors.scss';

.button {
	padding: 0.8em 2em;
	background: transparent;
	border: 1px solid transparent;
	border-radius: 30px;
	color: colors.$white;
	font-weight: bold;
	cursor: pointer;
}

.login-btn {
	transition: color 0.3s;
}

.squared-btn {
	width: 100%;
	border-radius: 5px;
}

.action-btn {
	background: colors.$cyan;
	transition: background-color 0.3s;

	&:hover {
		background-color: colors.$light-cyan;
	}
}

.copied-btn {
	background: colors.$dark-violet;
}

@media (min-width: 992px) {
	.login-btn {
		color: colors.$grayish-violet;

		&:hover {
			color: colors.$dark-gray;
		}
	}

	.squared-btn {
		width: auto;
	}
}
