@use '../../../assets/colors.scss';

.form {
	position: absolute;
	top: -120px;
	right: 0;
	left: 0;
	padding: 1.5em 1em;
	background: colors.$dark-violet;
	border-radius: 10px;
	overflow: hidden;
	z-index: 1;

	&__input {
		padding: 0.5em 1em;
		width: 100%;
		border: 2px solid transparent;
		border-radius: 5px;
		outline: none;
		
		&--error {
			border: 2px solid colors.$red;

			&::placeholder {
				color: colors.$red;
			}
		}
	}

	&__message {
		margin: 0.5em 0 1em;
		font-size: 13px;
		font-style: italic;
		color: colors.$red;
		opacity: 0;

		&--error {
			opacity: 1;
		}
	}

	&__icon {
		position: absolute;
		z-index: -1;

		&--mobile {
			top: 0;
			right: 0;
		}

		&--desktop {
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			display: none;
			width: 100%;
			height: 100%;
		}
	}
}

@media (min-width: 768px) {
	.form {
		&__icon {
			&--mobile {
				display: none;
			}

			&--desktop {
				display: block;
			}
		}
	}
}

@media (min-width: 992px) {
	.form {
		top: -150px;
		display: flex;
		justify-content: space-between;
		align-items: start;
		padding: calc(3em + 20px) 4em 3em;

		&__actions {
			width: 75%;
		}

		&__input {
			padding: 0.7em 1em;
		}

		&__message {
			margin-bottom: 0;
		}
	}
}

@media (min-width: 1440px) {
	.form {
		&__actions {
			width: 83%;
		}
	}
}
