@use '../../../assets/colors.scss';

.nav {
	&__btns {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&-btn {
			width: 100%;
			margin: 0.3em 0;
		}
	}
}

@media (min-width: 772px) {
	.nav {
		&__btns {
			&-btn {
				width: 40%;
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__btns {
			flex-direction: row;

			&-btn {
				width: auto;
				padding: 0.5em 1.5em;
			}

			.login-btn {
				margin-right: 2em;
			}
		}
	}
}
