@use '../../../assets/colors.scss';

.nav {
	&__btns {
		display: flex;
		flex-direction: column;

		&-button {
			padding: .5em 0;
			margin: .3em 0;
		}
	}
}

@media (min-width: 1440px) {
	.nav {
		&__btns {
			flex-direction: row;

			&-button {
				padding: .5em 1.5em;
				
				&:first-of-type {
					margin-right: 2em;
				}
			}
		}
	}
}