@use '../../../assets/colors.scss';

.nav {
	&__btns {
		display: flex;
		flex-direction: column;

		&-btn {
			padding: 0.5em 0;
			margin: 0.3em 0;
		}
	}
}

@media (min-width: 1440px) {
	.nav {
		&__btns {
			flex-direction: row;

			&-btn {
				padding: 0.5em 1.5em;
			}

			.login-btn {
				margin-right: 2em;
			}
		}
	}
}
